{% extends "base.html" %}
{% block title %}聯賽公示板{% endblock %}
{% block content %}



    <!--Then paste the following for Kendo UI Web scripts-->
    <script src="/static/kendoui/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/kendoui/js/kendo.web.min.js" type="text/javascript"></script>

    <!--In the header of your page, paste the following for Kendo UI Web styles-->
    <link href="/static/kendoui/style/kendo.common.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/kendoui/style/kendo.metro.min.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">

        var dataSource = new kendo.data.DataSource({

            type:"jsonp",
            transport:{
                read:{

                    url:"/getJSONv2",
                    data:{
                        lid:"{{ League.pk }}"
                    },
                    dataType:"json"

                }

            }


        });

        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource:dataSource,
                filterable:true,
                sortable:true,
                columns:[
                    {field:"jrm_id",
                        title:"雀龍門ID"},
                    {field:"game",
                        title:"對局(配牌)數"},
                    {field:"win",
                        title:"和了數"},
                    {field:"lose",
                        title:"放銃數"},
                    {field:"reach",
                        title:"立直數"},
                    {field:"hulo",
                        title:"副露數"},
                    {field:"win_max",
                        title:"最大和了點"},
                    {field:"lose_max",
                        title:"最大放銃點"},
                    {field:"rank",
                        title:"平均順位"}


                ]


            });
        });


    </script>

    <h1>{{ League.name }} 綜合通算</h1>
    <!--
{% for i in League.round_set.all %}
{{ i.name }}<br>
    {% endfor %}
-->

    <div id="grid">
    </div>
{% endblock %}